<div class="page-header">
  <%= link_to corsis_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Indietro
  <% end %>
  <h1>Nuovo Corso</h1>
</div>

<%= render 'form' %>