<div class="page-header">
  <%= link_to cat_libris_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Indietro
  <% end %>
  <h1>Nuova Categoria</h1>
</div>

<%= render 'form' %>
