<div class="page-header">
  <%= link_to libris_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Indietro
  <% end %>
  <h1>Nuovo Libro</h1>
</div>

<%= render 'form' %>