<div class="page-header">
  <%= link_to photo_attivita_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Indietro
  <% end %>
  <%= link_to @photo_attivitum, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Mostra
  <% end %>
  <h1>Editing photo_attivitum</h1>
</div>

<%= render 'form' %>
