<p>Salve <%= @resource.email %>!</p>

<p>E' stato richiesto il link per cambiare la sua password. Può farlo utilizzando il link sottostante.</p>

<p><%= link_to 'Cambia la mia password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se non è stato lei a richiederlo, per favore ignori questa email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
